/* Footer Styles */
.footer {
  position: relative;
  width: 100%;
  height: auto; /* Remove the fixed height */
  background: #430964;
  padding: 40px 0;
  text-align: center;
}

/* Style for the .contact-info class */
/* Style for the .contact-info class */
.contact-info {
  display: flex;
  flex-direction: row; /* Set the direction to row */
  justify-content: space-between; /* Add space between items */
  align-items: flex-start; /* Align items to the top */
  padding: 20px;
}

/* Style for the .contact-details class */
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the top right */
  color: white;
  font-family: Inter;
  font-size: 20px;
  margin-top: 20px;
}




.contact-heading h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
}

.icon {
  margin-right: 10px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align on smaller screens */
  color: white;
  font-family: Inter;
  font-size: 20px;
  margin-top: 20px; /* Add margin on smaller screens */
}

.address-row {
  text-align: center; /* Center align on smaller screens */
}

.address-row a {
  display: block;
  margin-top: 5px;
}

/* Style for the .project-info class */
.project-info {
  width: 100%; /* Take full width on smaller screens */
  height: auto; /* Remove fixed height */
  color: #F5F5F5;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center; /* Center align on smaller screens */
}

.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow wrapping links to the next row */
  justify-content: center; /* Center align horizontally */
  margin-top: 40px;
}

/* Modify the styles for social-links-row */
.social-links-row {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align links to the start of each group */
  margin: 0 20px 20px 20px; /* Add spacing between link groups */
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left; /* Align text to the left */
  color: #FFFFFF;
}

.social-links-row a {
  margin-bottom: 10px;
  text-decoration: none; 
  color: white;
}

/* Add additional styling for the "explore open jobs" and "company name" */

.social-links-row:last-child {
  margin-right: 20px; /* Add margin to the last link group */
}

.social-links-row:last-child a {
  margin-bottom: 5px; /* Add some spacing between the links */
}
.empty-space {
  margin-left: 20px; /* Adjust the margin as needed to create the desired space */
  margin-right: 20px; /* You can adjust margin-right if needed */
}

