
.footer {
  position: relative;
  width: 100%;
  height: auto; 
  background: #430964;
  padding: 40px 0;
  text-align: center;
}


.contact-info {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: flex-start; 
  padding: 20px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  color: white;
  font-family: Inter;
  font-size: 20px;
  margin-top: 20px;
}

.email-link {
  text-decoration: underline;
  color: white; 
}


.contact-heading h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.icon {
  margin-right: 10px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: Inter;
  font-size: 20px;
  margin-top: 20px; 
}

.address-row {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}


.address-row a {
  display: block;
  margin-top: 5px;
}

.project-info {
  width: 100%; 
  height: auto; 
  color: #F5F5F5;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left; 
  word-wrap: break-word;
}


.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center; 
  margin-top: 40px;
}

.social-links-row {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 0 20px 20px 20px; 
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left; 
  color: #FFFFFF;
}

.social-links-row a {
  margin-bottom: 5px; 
  text-decoration: none; 
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.social-links-row {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 0 20px 3px 20px; 
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left; 
  color: #FFFFFF;
}


.social-links-row a {
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.social-links-row:last-child a:last-child {
  margin-top: 40px;
}
.single-line-text {
  white-space: nowrap;
}