/* Footer Styles */
.footer {
  position: relative;
  width: 100%;
  height: auto; /* Remove the fixed height */
  background: #430964;
  padding: 40px 0;
  text-align: center;
}

/* Style for the .contact-info class */
/* Style for the .contact-info class */
.contact-info {
  display: flex;
  flex-direction: row; /* Set the direction to row */
  justify-content: space-between; /* Add space between items */
  align-items: flex-start; /* Align items to the top */
  padding: 20px;
}

/* Style for the .contact-details class */
.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the top right */
  color: white;
  font-family: Inter;
  font-size: 20px;
  margin-top: 20px;
}

/* Add this style to underline the specific email address */
.email-link {
  text-decoration: underline;
  color: white; /* You can adjust the color as needed */
}


.contact-heading h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.icon {
  margin-right: 10px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align on smaller screens */
  color: white;
  font-family: Inter;
  font-size: 20px;
  margin-top: 20px; /* Add margin on smaller screens */
}

/* Style for the .address-row class */
.address-row {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}


.address-row a {
  display: block;
  margin-top: 5px;
}

/* Style for the .project-info class */
.project-info {
  width: 100%; /* Take full width on smaller screens */
  height: auto; /* Remove fixed height */
  color: #F5F5F5;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left; /* Center align on smaller screens */
  word-wrap: break-word;
}


.footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow wrapping links to the next row */
  justify-content: center; /* Center align horizontally */
  margin-top: 40px;
}

/* Modify the styles for social-links-row */
.social-links-row {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align links to the start of each group */
  margin: 0 20px 20px 20px; /* Add spacing between link groups */
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left; /* Align text to the left */
  color: #FFFFFF;
}

/* Style for the .social-links-row a elements */
.social-links-row a {
  margin-bottom: 5px; /* Reduce the space between links */
  text-decoration: none; 
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

/* Rest of your existing CSS styles */




