/* Hero.scss (or Hero.css if you're not using SASS) */

/* Hero.css (or Hero.scss) */

.hero {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/images/HeroImage.png');
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  padding: 0;
}


/* Rest of your existing styles... */


/* Hero.css (or Hero.scss) */

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  margin-top: 90px; /* Add margin to move content down */
}

.hero-text {
  text-align: left; /* Align text to the left */
  max-width: 495px;
  padding-left: 10px; /* Adjust padding-left as needed */
}

/* Hero.css (or Hero.scss) */

.hero-button {
  background: #70259B; /* Background color */
  font-family: 'Inter';
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF; /* Text color */
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start; /* Align button to the left */
  margin-top: 30px;

  
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .hero {
    min-height: 300px; /* Adjust height for smaller screens */
  }

  .hero-content {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: space-between; /* Distribute space between logo and text */
    align-items: center; /* Vertically center-align items */
    padding: 20px; /* Add padding for spacing */
    max-width: 100%; /* Allow the content to take full width */
  }

  
  .hero-text {
    text-align: left; /* Align text to the left */
    padding-left: 90px !important;
    max-width: 80%;
  }

  /* Hero.scss (or Hero.css if you're not using SASS) */

/* Hero.css (or Hero.scss) */

.hero-text h2 {
  font-family: 'Inter';
  font-size: 64px; /* Increase the font size to your desired value */
  font-weight: 700;
  line-height: 72px; /* Adjust line height as needed */
  letter-spacing: 0em;
  text-align: left;
  color: #FAFAFA;
  margin-bottom: 20px;
}

.hero-text p {
  font-family: 'Inter';
  font-size: 24px; /* Increase the font size to your desired value */
  font-weight: 400;
  line-height: 36px; /* Adjust line height as needed */
  letter-spacing: 0em;
  text-align: left;
  color: #F5F5F5;
}


}
