
.menu {
  background-color: #70259B;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 0; 
}

.menu-logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
}

.menu-nav {
  list-style: none;
  display: flex;
  margin-right: 20px;
  flex-wrap: wrap; 
}

.menu-nav-button {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-right: 5px;
  text-transform: uppercase;
  margin-bottom: 10px; 
}

.menu-nav-button[color="primary"] {
  background-color: #70259B;
}

.menu-nav-button[size="normal"] {
  font-size: 14px;
  padding: 10px 20px;
}

.menu-nav-button[content="text only"] {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.menu-nav-button[state="normal"] {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-nav-button[type="fill"] {
  color: #ffffff;
  background-color: #70259B;
}

.menu-nav-button:hover {
  background-color: #70259B;
  color: #ffffff;
}

.menu-lets-talk-button {
  width: 96px;
  height: 37px;
  padding: 8px 16px;
  border-radius: 50px;
  gap: 8px;
  background-color: #ffffff;
  color: #70259B;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 11px;
  font-family: Inter;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 768px) {
  .menu {
    padding: 10px 40px;
  }

  .menu-nav {
    flex-wrap: nowrap; 
  }

  .menu-nav-button {
    margin-right: 15px;
    font-size: 18px;
    margin-bottom: 0; 
  }
}
