/* WhatWeDo.css (or WhatWeDo.scss) */

.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  background-color: #f8f8f8;
  position: relative;
  overflow-x: hidden;
  justify-content: center; /* Vertically center-align items */
}

.heading-container {
  display: flex;
  align-items: center; /* Vertically align the content */
}
.what-we-do-heading h2 {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  
}

.what-we-do-text {
  max-width: 100%; /* Set the maximum width to 100% */
  margin-left: 0; /* Remove the left margin */
  padding-left: 20px; /* Add padding to align with other content */
  border-left: none; /* Remove the left border */
}

.what-we-do-text p {
  font-family: 'Inter';
  font-size: 48px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  color: #242424;
  margin-top: 20px; /* Add spacing between h2 and p */
  overflow: hidden; /* Hide overflowing text */
}

.service-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.service {
  margin: 0 20px 20px 0;
}
.service h3 {
  width: 290px;
  height: 41px;
  top: 1234px;
  left: 85px;
  color: #000000;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.service p {
  
  color: #000000;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .what-we-do-heading-content {
    margin-left: 0; /* Remove left margin on smaller screens */
  }

  .service-container {
    flex-direction: column; /* Change to column layout on smaller screens */
    align-items: flex-start; /* Align items to the left on smaller screens */
    margin-left: 0; /* Remove left margin on smaller screens */
  }
}
