
.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  background-color: #f8f8f8;
  position: relative;
  overflow-x: hidden;
  justify-content: center; 
}

.heading-container {
  display: flex;
  align-items: center; 
}

.what-we-do-heading h2 {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  display: flex; 
  align-items: center; 
}

.icon {
  margin-right: 10px; 
}




.what-we-do-text {
  max-width: 100%; 
  margin-left: 0; 
  padding-left: 20px; 
  border-left: none; 
}

.what-we-do-text p {
  font-family: 'Inter';
  font-size: 48px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  color: #242424;
  margin-top: 20px; 
  overflow: hidden; 
}

.service-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.service {
  margin: 0 20px 20px 0;
}

.service h3 {
  width: 290px;
  height: 41px;
  top: 1234px;
  left: 85px;
  color: #000000;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.service p {
  color: #000000;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}



@media (max-width: 768px) {
  .what-we-do-heading-content {
    margin-left: 0; 
  }

  .service-container {
    flex-direction: column; 
    align-items: flex-start;
    margin-left: 0;
  }}